<h1>Courses#edit</h1>
<%= form_for @course do |f| %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>
